extends ../layouts/common

block content
    .container
        h1 Create User

        form(action="/users/create", method="POST", enctype="multipart/form-data")
            .form-group
                label(for="name") Name
                input#name.form-control(name="name", type="text", placeholder="Name")
            
            .form-group
                label(for="phone") Phone
                input#phone.form-control(name="phone", type="text",  placeholder="Phone")

            .form-group
                label(for="avatar") File
                input#avatar.form-control-file(name="avatar", type="file")
            button.btn.btn-primary Create User